body
{
	background: url(https://serving.photos.photobox.com/4300435241fb42e845e28ecc0dbfe5cc166d4b76f065907c162084e1e2345a41dab9d454.jpg);
	background-size: cover;
	background-position: center;
}
html
{
	heigth:100%;
}
.opnav
{
	background-color: rgba(0, 0, 0,0.5);
}
.nav.navbar-nav li a
{
	color: rgb(225,227,232);
}
.navbar-brand,.navbar-brand:hover,.navbar-brand:visited
{
	color: rgb(252, 7, 40);
}
.nav.navbar-nav>li>a:hover
{
	color: black !important;
}
.nav.navbar-nav.dropdown-menu li a
{
	color: black !important;
}
/*ul.dropdown-menu
{
	color: black !important;
}*/
/*.btn.btn-default
{
	background-color: rgba(51, 51, 51,0.5);
	color:white;
}*/
.navbar-toggle.collapsed,.icon-bar
{
	border: 1px solid white ;
}
/*.btn.btn-default
{
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers 
  background: rgba(51,51,51, 0.5);
  border-radius: 8px;
  font-weight: 10%;
  color:white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}*/

.font0{
	display: block;
    font: normal normal normal lulo-clean-w01-one-bold,sans-serif;
    color:rgb(252, 7, 40) ;
    text-align: right;
    font-size: 65px;
}

.cont
{
	color: white;
}
.cont>.fa
{
	color: rgb(252,7,40);
	font-size: 20px;
	letter-spacing: 1.5em;
}
hr
{
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
